<svg
  data-v-4b9df93f=""
  aria-hidden="true"
  class="svg-icon el-tooltip__trigger"
  width="1em"
  height="1em"
  id="guide-start"
>
  <defs data-v-4b9df93f="">
    <linearGradient
      data-v-4b9df93f=""
      id="gradient"
      x1="0%"
      x2="100%"
      y1="0%"
      y2="100%"
    >
      <stop data-v-4b9df93f="" offset="0%" stop-color="#ff0000"></stop>
      <stop data-v-4b9df93f="" offset="100%" stop-color="#00ff00"></stop>
    </linearGradient>
  </defs>
  <use data-v-4b9df93f="" xlink:href="#icon-guide" fill="url(#gradient)"></use>
</svg>
